.qrcodeImgContainer {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.qrcodeImg {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  left: 50%;
  max-height: 80%;
  max-width: 80%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}